/* about */
.aboutme{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        @include pics(cover, 150px,  300px, 20px);
        padding: 0.5rem;
    }
    &__p{
        text-align: justify;
        padding: 1rem;
        
    }
    }



