/* footer */
footer{ 
  margin-top: auto;
    .footera {
      margin-top: 2rem;
        background-color: map-get($map: $colores, $key: 'back');
        justify-content: center;
        text-align: center;
        .boton {
            text-decoration: none;
            display: inline-block;
            color: map-get($map: $colores, $key: 'primario');
            color:   #212427;
            font-size: 30px;
            padding: 1rem;
           
        }
             }
    .footerb{
      background-color: map-get($map: $colores, $key: 'secundario');
        padding: 0.5em;  
        text-align: center;
        color: map-get($map: $colores, $key: 'back');
        letter-spacing:2.5px;
        
            }    
}
